<p id="notice"><%= notice %></p>

<h1>Metas</h1>

<p>Loja: <%= @loja.nome %></p>

<table>
  <thead>
    <tr>
      <th>Ano</th>
      <th>Início</th>
      <th>Fim</th>
      <th>Valor</th>
    </tr>
  </thead>

  <tbody>
    <% @metas.each do |meta| %>
      <tr>
        <td><%= meta.ano %></td>
        <td><%= l meta.inicio, locale: :pt, format: :short %></td>
        <td><%= l meta.fim, locale: :pt, format: :short %></td>
        <td>
        <%= link_to number_to_currency(meta.valor, locale: 'pt-BR'), loja_meta_path(@loja, meta), id: "meta_#{meta.id}"  %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Lojas', lojas_path %>
